.container {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 2;
}

.assets {
  position: absolute;
  top: 1rem;
  left: 1rem;
  pointer-events: auto;
}

.floors {
  position: absolute;
  top: 1rem;
  right: 1rem;
  pointer-events: auto;
}
